@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 620px;
    width: 375px;
    border-radius: 20px;
    text-align: center;
}

main h1{
    padding: 20px;
}

main p.principal{
    color: hsl(224, 23%, 55%);
    line-height: 1.8em;
    margin: auto;
    padding-bottom: 20px;
    width: 70%;
}

div{
    display: inline-flex;
    background-color: hsl(225, 100%, 98%);
    margin: 10px 30px 10px 30px;
    padding: 20px 0px;
    border-radius: 20px;
    width: %;
}

div img{
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}

div span.cima{
    display: flex;
    font-weight: 700;
    margin: 0px 20px;
    height: 20px;
    width: 90px;
}

div span.baixo{
    position: absolute;
    color: hsl(224, 23%, 55%);
    top: 70%;
    left: 34%;
    display: flex;
    height: 20px;
    width: 90px;
}

div a{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 30px;
}

div a:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.imagem{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

h1{
    
}

button{
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 20px;
    border: none;;
    border-radius: 20px;
    font-size: 1.3em;
    font-weight: 900;
    width: 85%;
}

button:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

p.cancel{
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin: 20px 0px 20px 0px;
}

p.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

a{
    
}

footer{
    background-color: black;
    position: absolute;
    top: 96%;
    width: 100%;
    color: white;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

